.breathing-exercise {
    background-color: #f8f9fa;
    border-radius: 12px;
    padding: .5rem;
    margin-bottom: 1rem;
    text-align: center;
    transition: all 0.3s ease;
    border: 1px solid rgba(0,0,0,0.05);
  }
  
  .breathing-exercise.active {
    background-color: #e3f2fd;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  }
  
  .breathing-visual {
    margin: 1rem 0;
  }
  
  .breathing-circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    position: relative;
    transition: all 8s ease-in-out;
  }
  
  .breathing-circle.inhale {
    transform: scale(1.2);
    background: linear-gradient(135deg, #4facfe, #00f2fe);
  }
  
  .breathing-circle.hold {
    transform: scale(1.2);
    background: linear-gradient(135deg, #00f2fe, #4facfe);
  }
  
  .breathing-circle.exhale {
    transform: scale(0.8);
    background: linear-gradient(135deg, #a6c1ee, #fbc2eb);
  }
  
  .breathing-circle.rest {
    transform: scale(1);
  }
  
  .breathing-text p:not(.count) {
    font-size: 0.7rem;
  }
  
  .instruction {
    font-size: 0.5rem;
    font-weight: 600;
  }
  
  .count {
    font-size: 1rem;
    opacity: 0.8;
  }
  
  .start-button, .stop-button {
    background: white;
    color: #6e8efb;
    border: none;
    padding: 0.5rem .5rem;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 1.4rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
  .start-button:hover, .stop-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  }
  
  .stop-button {
    background: #6e8efb;
    color: white;
  }
  
  .instructions {
    /* margin-top: 1rem; */
    font-size: 0.9rem;
    color: #6c757d;
  }

